// about-section start
.about-sec {
    padding: 60px 0 30px;
    background-image: url(../img/coffee-img.png);
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat;
    background-color: $white;
}
// about-section end
