// echanger section start
.echanger {
    margin-bottom: 55px;

    // title_2
    .title_2 {
        h3 {
            text-transform: uppercase;
            margin-bottom: 30px;
        }
    }
}

// echanger section end