// footer start
.footer {
    background-color: $black;
    padding: 35px 0 55px;

    &-top {
        margin-bottom: 15px;
    }

    &-logo {
        display: flex;
        align-items: flex-end;

        a {
            margin-right: 27px;

            img {
                @include mq(max, 1366px) {
                    width: 389px;
                }
            }
        }

        .footer-lang {
            padding-bottom: 20px;

            select {}
        }
    }

    &-bottom {
        &-flex {
            display: flex;
            justify-content: space-around;
        }
    }

    &-newsletter {
        label {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 300;
            display: block;
            color: $white;
            padding-left: 12px;

            @include mq(max, 1366px) {
                font-size: 15px;
            }
        }

        input {
            width: 260px;
            height: 40px;
            border-radius: 35px;
            padding: 6px 12px;
            border: 0;
        }
    }

    &-menu {
        // text-align: center;

        ul {
            margin-bottom: 15px;

            li {
                display: inline-block;

                a {
                    font-size: 19px;
                    font-weight: 500;
                    color: $white;
                    padding: 0 10px;

                    @include mq(max, 1366px) {
                        font-size: 15px;
                    }
                }

                &:first-child {
                    a {
                        padding-left: 0;
                    }
                }
            }

            &.secnd-menu {
                li {
                    display: inline-block;
                    color: $white;
                    font-weight: 300;

                    a {
                        font-size: 18px;
                        font-weight: 300;
                        color: $white;

                        @include mq(max, 1366px) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    &-social {
        ul {
            display: flex;

            li {
                a {
                    color: $white;
                    padding-right: 17px;
                    font-size: 28px;

                    @include mq(max, 1366px) {
                        font-size: 22px;
                    }

                    i {}
                }
            }
        }
    }
}

// footer end